* {
	box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;
	background: #20202d;
	color: #ffffff;
}

/* Верстка хедера */

.hero {
	padding-top: 50px;
	padding-bottom: 80px;
	margin: 0;
	background: linear-gradient(0.01deg, #000000 0.01%, rgba(0, 0, 0, 0) 95.44%);
}

.container {
	max-width: 945px;
	width: 90%;
	margin: auto;
}

.hero-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 105px;
}

.social-link {
	margin-left: 20px;
	text-decoration: none;
}

.social-link:first-child {
	margin-left: 0;
}

.icon-github,
.icon-twitter,
.icon-instagram,
.icon-facebook {
	width: 18px;
	height: 18px;
	fill: #fff;
}

.icon-github:hover,
.icon-twitter:hover,
.icon-instagram:hover,
.icon-facebook:hover {
	fill: rgb(214, 142, 34);
}

.hero-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 155px;
}

.hero-subtitle {
	font-weight: normal;
	font-size: 24px;
	line-height: 28px;
	color: #ffbb01;
	margin-bottom: 14px;
}

.hero-title {
	font-weight: bold;
	font-size: 50px;
	line-height: 59px;
	margin: 0;
	margin-bottom: 20px;
}

.hero-description {
	width: 424px;
	height: 86px;
	font-weight: normal;
	font-size: 16px;
	line-height: 28px;
	margin: 0;
	margin-bottom: 38px;
}

.hero-avatar {
	width: 392px;
	height: 392px;
	border: 11px solid #fff;
}


.button {
	padding: 24px 42px;
	font-weight: bold;
	font-size: 12px;
	line-height: 14px;
	text-transform: uppercase;
	color: #2E2E30;
	background: linear-gradient(180deg, #FDDE76 0%, #FFBB01 100%);
	box-shadow: 0px 4px 0px #B68500;
	border-radius: 5px 5px 10px 10px;
	border: none;
	cursor: pointer;
	outline: none;
}

.hero-avatar {
	border-radius: 50%;
	background: url("/img/avatar.jpg") no-repeat center center / cover;
}

/* Верстка блока features */

.features {
	background-color: #000;
	padding-top: 64px;
	padding-bottom: 92px;
}

.features-blocks {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.icon-offer,
.icon-deadline,
.icon-agreement,
.icon-steps,
.icon-storage,
.icon-conversation {
	width: 50px;
	height: 50px;
	fill: #FFBB01;
}

.block-title {
	margin: 0;
	font-weight: bold;
	font-size: 36px;
	line-height: 42px;
	margin-bottom: 64px;
}

.offer-block {
	width: 30%;
	margin-bottom: 65px;
}

.offer-title {
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
}

.offer-description {
	font-weight: normal;
	font-size: 16px;
	line-height: 28px;
}


/* Блок со слайдером */
.projects {
	padding-top: 90px;
	padding-bottom: 108px;
	background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 95.44%);
}

.sliders-text {
	width: 58%;
}

.project-slider {
	display: flex;
	justify-content: space-between;
	align-items: start;
}

.project-img {
	border-radius: 6px;
}

.sliders-title {
	margin: 0;
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	margin-bottom: 30px;
}

.sliders-text {
	display: flex;
	flex-wrap: wrap;
}

.slider-title {
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;
	margin: 0;
	margin-bottom: 8px;
}

.slider-description {
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
}

.slider-time,
.slider-cost,
.slider-feedback {
	display: flex;
	margin-bottom: 43px;
}

.slider-time,
.slider-cost {
	flex-basis: 50%;
}

.icon-time,
.icon-cost,
.icon-feedback {
	width: 30px;
	height: 30px;
	fill: #FFBB01;
	margin-right: 16px;
}

.project-pagination {
	display: flex;
	justify-content: center;
}

.project-bullet {
	width: 10px;
	height: 10px;
	border: 2px solid #FFBB01;
	border-radius: 50%;
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
}

.project-bullet-active {
	width: 10px;
	height: 10px;
	background: #FFBB01;
	border: 2px solid #FFBB01;
	border-radius: 50%;
}


/* Стили блока контактов */

.contacts {
	padding-top: 120px;
	padding-bottom: 155px;
}

.contacts-block {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.form-title {
	font-weight: bold;
	font-size: 18px;
	line-height: 28px;
	color: #000000;
	margin: 0;
	margin-bottom: 30px;
}

.contacts-form {
	width: 45%;
	height: 410px;
	background: #FFFFFF;
	box-shadow: -5px 5px 0px #FFC41D;
	border-radius: 5px;
	text-align: center;
	padding-top: 40px;
	padding-right: 35px;
	padding-bottom: 49px;
	padding-left: 35px;
}

.input {
	width: 309px;
	height: 63px;
	background: #F8F8F8;
	box-shadow: inset 0px 3px 10px rgba(199, 199, 199, 0.25);
	border-radius: 5px;
	border: none;
	outline: none;
	padding-left: 50px;
	padding-top: 17px;
	padding-bottom: 17px;
	padding-right: auto;
	font-weight: normal;
	font-size: 14px;
	line-height: 28px;
}

/* Плавное исчезание плейсхолдера */

.input::-webkit-input-placeholder {
	opacity: 1;
	transition: opacity 0.3s ease;
}

.input::-moz-placeholder {
	opacity: 1;
	transition: opacity 0.3s ease;
}

.input:-moz-placeholder {
	opacity: 1;
	transition: opacity 0.3s ease;
}

.input:-ms-input-placeholder {
	opacity: 1;
	transition: opacity 0.3s ease;
}

.input:focus::-webkit-input-placeholder {
	opacity: 0;
	transition: opacity 0.3s ease;
}

.input:focus::-moz-placeholder {
	opacity: 0;
	transition: opacity 0.3s ease;
}

.input:focus:-moz-placeholder {
	opacity: 0;
	transition: opacity 0.3s ease;
}

.input:focus:-ms-input-placeholder {
	opacity: 0;
	transition: opacity 0.3s ease;
}

.input-user {
	margin-bottom: 17px;
	background-image: url("/img/user-icon.svg");
	background-repeat: no-repeat;
	background-position-y: center;
	background-position-x: 20px;
}


.input-phone {
	background-image: url("/img/phone-icon.svg");
	background-repeat: no-repeat;
	background-position-y: center;
	background-position-x: 20px;
	margin-bottom: 26px;
}

.form-button {
	width: 309px;
}

.contacts-text {
	width: 45%;
}

.contacts-data {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.contacts-phone,
.contacts-mail {
	width: 45%;
	margin-bottom: 53px;
}

.contacts-social {
	margin-bottom: 53px;
}

.contacts-title {
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	margin: 0;
	margin-bottom: 15px;
}

.contact-link,
.contact-social-link {
	text-decoration: none;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	color: #FFFFFF;
}

.contact-social-link {
	margin-right: 25px;
}

.contact-link:hover,
.contact-social-link:hover,
.contact-social-link:hover,
.privacy-link:hover {
	color: #FFBB01;
}

.privacy-link {
	display: inline-block;
	margin-top: 50px;
	font-weight: normal;
	font-size: 15px;
	line-height: 18px;
	color: #A5A5A5;
}


/* Адаптпция */

@media (max-width: 960px) {
	.block-title {
		text-align: center;
	}

	.hero {
		padding-bottom: 20px;
	}

	.hero-content {
		flex-direction: column;
	}

	.hero-text {
		order: 2;
		margin-top: 60px;
		text-align: center;
	}

	.features {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.project-slider {
		flex-direction: column;
		align-items: center;
	}

	.contact-social-link {
		margin-right: 15px;
	}

	.project-img {
		width: 430px;
		height: 300px;
		margin-bottom: 50px;
	}

	.sliders-text {
		width: 65%;
		justify-content: space-around;
	}

	.sliders-title {
		margin-bottom: 50px;
	}

	.projects {
		padding-top: 90px;
		padding-bottom: 50px;
	}

	.contacts-block {
		flex-direction: column;
	}

	.contacts-text {
		width: 70%;
	}

	.contacts-form {
		margin-bottom: 60px;
		width: 70%;
	}

	.contact-social-link {
		margin-bottom: 20px;
		display: inline-block;
	}
}

@media (max-width: 620px) {
	.hero-avatar {
		width: 200px;
		height: 200px;
		border: 6px solid #fff;
	}

	.block-title {
		font-size: 28px;
	}

	.offer-block {
		flex-basis: 45%;
	}

	.projects {
		padding-top: 20px;
	}

	.project-img {
		width: 400px;
		height: 200px;
	}

	.sliders-title {
		font-weight: bold;
		font-size: 18px;
		line-height: 150%;
	}

	.sliders-text {
		width: 100%;
	}

	.slider-title {
		font-weight: bold;
		font-size: 18px;
		line-height: 21px;
	}

	.slider-description {
		font-weight: normal;
		font-size: 14px;
		line-height: 16px;
	}

	.slider-time,
	.slider-cost {
		flex-basis: 50%;
	}


	.contacts-text {
		width: 90%;
	}


	.contacts-form {
		margin-bottom: 60px;
		width: 100%;
	}
}

@media (max-width: 480px) {
	.hero {
		padding: 0px;
		padding-bottom: 5px;
	}

	.hero-header {
		margin-bottom: 40px;
	}

	.social-link {
		margin-left: 10px;
	}

	.hero-avatar {
		margin-bottom: 40px;
	}

	.hero-content {
		margin-bottom: 50px;
	}

	.hero-text {
		margin: 0;
	}

	.hero-subtitle {
		font-weight: normal;
		font-size: 16px;
		line-height: 27px;
	}

	.hero-title {
		font-weight: bold;
		font-size: 24px;
		line-height: 28px;
	}

	.hero-description {
		font-weight: normal;
		font-size: 15px;
		line-height: 140%;
		width: 100%;
	}
	.features {
		padding: 0;
		padding-top: 40px;
	}

	.block-title {
		font-weight: bold;
		font-size: 21px;
		line-height: 22px;
		margin-bottom: 30px;
	}

	.offer-block {
		flex-basis: 100%;
		margin-bottom: 30px;
	}

	.offer-title {
		font-weight: bold;
		font-size: 18px;
		line-height: 28px;
	}

	.offer-description {
		font-weight: normal;
		font-size: 15px;
		line-height: 28px;
	}


	.projects {
		padding-top: 20px;
	}

	.project-img {
		width: 250px;
		height: 200px;
	}

	.sliders-title {
		font-weight: bold;
		font-size: 18px;
		line-height: 150%;
	}

	.sliders-text {
		width: 100%;
	}

	.slider-title {
		font-weight: bold;
		font-size: 18px;
		line-height: 21px;
	}

	.slider-description {
		font-weight: normal;
		font-size: 14px;
		line-height: 16px;
	}

	.slider-time,
	.slider-cost {
		flex-basis: 50%;
	}


	.contacts {
		padding-top: 0;
	}

	.contacts-form {
		width: 100%;
		height: 370px;
		padding-top: 30px;
		padding-left: 5px;
		padding-right: 5px;
	}

	.form-title {
		font-weight: bold;
		font-size: 14px;
		line-height: 140%;
	}

	.input-user,
	.input-phone {
		width: 90%;
		height: 63px;
	}

	.form-button {
		width: 220px;
		height: 53px;
		font-weight: bold;
		font-size: 10px;
		line-height: 28px;
		padding: 15px 7px;
		margin: 0;
	}
}

@media (max-width: 320px) {
	.hero {
		padding: 0px;
		padding-bottom: 5px;
	}

	.hero-header {
		margin-bottom: 40px;
	}

	.social-link {
		margin-left: 10px;
	}

	.hero-avatar {
		margin-bottom: 40px;
	}

	.hero-content {
		margin-bottom: 50px;
	}

	.hero-text {
		margin: 0;
	}

	.hero-subtitle {
		font-weight: normal;
		font-size: 16px;
		line-height: 27px;
	}

	.hero-title {
		font-weight: bold;
		font-size: 24px;
		line-height: 28px;
	}

	.hero-description {
		font-weight: normal;
		font-size: 14px;
		line-height: 140%;
		width: 100%;
	}

	.features {
		padding: 0;
	}

	.block-title {
		font-weight: bold;
		font-size: 19px;
		line-height: 22px;
		margin-bottom: 30px;
	}

	.offer-block {
		flex-basis: 100%;
		margin-bottom: 30px;
	}

	.offer-title {
		font-weight: bold;
		font-size: 18px;
		line-height: 28px;
	}

	.offer-description {
		font-weight: normal;
		font-size: 14px;
		line-height: 28px;
	}

	.projects {
		padding-top: 20px;
	}

	.project-img {
		width: 250px;
		height: 200px;
	}

	.sliders-title {
		font-weight: bold;
		font-size: 18px;
		line-height: 150%;
	}

	.sliders-text {
		width: 100%;
	}

	.slider-title {
		font-weight: bold;
		font-size: 18px;
		line-height: 21px;
	}

	.slider-description {
		font-weight: normal;
		font-size: 14px;
		line-height: 16px;
	}

	.slider-time,
	.slider-cost {
		flex-basis: 100%;
	}

	.contacts {
		padding-top: 0;
	}

	.contacts-form {
		width: 100%;
		height: 370px;
		padding-top: 30px;
		padding-left: 5px;
		padding-right: 5px;
	}

	.form-title {
		font-weight: bold;
		font-size: 14px;
		line-height: 140%;
	}

	.input-user,
	.input-phone {
		width: 220px;
		height: 63px;
	}

	.form-button {
		width: 220px;
		height: 53px;
		font-weight: bold;
		font-size: 10px;
		line-height: 28px;
		padding: 15px 7px;
		margin: 0;
	}

	.contacts-text {
		width: 100%;
	}

	.contacts-title {
		font-weight: bold;
		font-size: 18px;
		line-height: 21px;
	}

	.contacts-phone {
		flex-basis: 100%;
	}

	.contact-link,
	.contact-social-link {
		font-weight: normal;
		font-size: 14px;
		line-height: 16px;
	}

	.privacy-link {
		font-weight: normal;
		font-size: 13px;
		line-height: 18px;
	}
}
